# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# PyQt6
*.ui

# PyInstaller
*.spec
build/
dist/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp